<a href="https://colab.research.google.com/github/antoniolfnt/Atividades/blob/master/APS_ANTONIO_LUCIANO_FERREIRA_NETO_201906075.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nome da Disciplina: Lógica de Programação<br>
Nome do professor: Renan Alencar<br>
Nome do aluno: Antonio Luciano Ferreira Neto<br>

OBS: O número das questões estão com "#" logo no início

In [ ]:
#1
vl_hr = float(input("Digite quanto você ganha por hora? "))
hr_trabalhadas = int(input("Agora as horas trabalhadas no mês: "))

sl_bruto = vl_hr * hr_trabalhadas
ir = sl_bruto * 0.11
inss = sl_bruto * 0.08
sndct = sl_bruto * 0.05

print ('Salário Bruto : R$ %.2f' %sl_bruto)
print ('IR: R$ %.2f' %ir )
print ('INSS: R$ %.2f' %inss )
print ('Sindicato: R$ %.2f' %sndct )
print ('Salário Liquido : R$ %.2f' %(sl_bruto - ir - inss - sndct))

In [ ]:
#2
t_area = float(input("Digite o tamanho da área: "))

litros = t_area / 6
latas = litros / 18

if latas % 18 != 0:
    latas += 1
preco = latas * 80

galoes = litros / 3.6
if galoes % 3.6 != 0:
    galoes += 1
preco2 = galoes * 25


mistura_lata = int(litros / 18)
mistura_galao = int((litros - (mistura_lata * 18)) / 3.6)

if litros - (mistura_lata * 18) % 3.6 != 0:
    mistura_galao += 1

print("Apenas latas de 18 litros: %d" % latas,"latas com o preço: R$%d" % preco)
print("Apenas galões de 3.6 litros: %d" % galoes, "galões com o preço: R$%d" % preco2)
print("Mistura: %d latas e %d galões = R$%.2f" % (mistura_lata, mistura_galao, ((mistura_lata * 80) + (mistura_galao * 25))))

In [ ]:
#3
hr_trabalhadas = int(input("Digite o valor da sua hora trabalhada: "))
qtd_hora = int(input("E a quantidade de horas trabalhadas no mês: "))

sl_br = hr_trabalhadas * qtd_hora
inss = sl_br * 0.1
fgts = sl_br * 0.11
sind = sl_br * 0.03
salariol = sl_br - (inss + ir)


if sl_br <= 900:
    salariol = (inss + fgts + sind)

elif sl_br >= 901 and sl_br <=  1500:
    ir = sl_br * 0.05
    salariol = sl_br - (inss + fgts + sind + ir)

else:
    sl_br >= 1501 and sl_br <=  2500
    ir = sl_br * 0.2
    salariol = sl_br - (inss + ir)

    
print("Seu salario bruto é: %7.2fR$" % sl_br)
print("O valor do IR é: %7.2fR$" % ir)
print("O valor do INSS é: %7.2fR$" % inss)
print("O valor de seu FGTS é: %7.2fR$" % fgts)
print("O total de descontos é: %7.2fR$" % (ir+inss))
print("E o salário líquido é: %7.2fR$" % (sl_br - ir - inss))

In [ ]:
#4
nt_1 = float(input("Digite a primeira nota: "))
nt_2 = float(input("Digite a segunda nota: "))
media = (nt_1 + nt_2) / 2

if media >= 9.0 and media <= 10.0:
    print("A notas foram", nt_1, "e" , nt_2, ", e a média: %.2f, Conceito: A." % (media))

elif media >= 7.5 and media < 9.0:
    print("A notas foram", nt_1, "e" , nt_2, ", e a média: %.2f, Conceito: B." % (media))

elif media >= 6.0 and media <= 7.5:
    print("A notas foram", nt_1, "e" , nt_2, ", e a média: %.2f, Conceito: C." % (media))

elif media >= 4.0 and media <= 6.0:
    print("A notas foram", nt_1, "e" , nt_2, ", e a média: %.2f, Conceito: D." % (media))

elif media > 0 and media <= 4.0:
    print("A notas foram", nt_1, "e" , nt_2, ", e a média: %.2f, Conceito: E." % (media))

else:
    print("Nota inválida")

In [ ]:
#5
init = 10
fin = 1
tabuada = 1

while (init >= fin):
	tabuada = int(input("Montar tabuada de: "))
	init = int(input("Começar por: "))
	fin = int(input("Terminar em: "))
	if (init >= fin):
		print("")
		print("O valor inicial não pode ser maior que o fin!\n")
		print("")
		
print("")	
print("Vou montar a tabuada de",tabuada, "começando em", init, "e terminando em", fin )

while (init < (fin + 1)):
	print(tabuada, "X", init, "=", tabuada * init)
	init = init + 1

In [ ]:
#6
codigos = [100, 101, 102, 103, 104, 105]
comidas = ['Cachorro Quente', 'Bauru Simples', 'Bauru com ovo', 'Hamburguer', 'ChesseBurguer', 'Refrigerante']
precos = [1.20, 1.30, 1.50, 1.20, 1.30, 1.0]
codigo = True
n_pedido = 1
pedido = []

while codigo != 0:
    print('100 - Cachorro Quente\n101 - Bauru Simples\n102 - Bauru com ovo\n103 - Hambúrguer\n104 - Cheeseburguer\n105 - Refrigerante\n0 - Finalizar Pedido\n')
    print("\nPedido", n_pedido)
    codigo = int(input("Digite o código do alimento: "))
    if codigo == 0:
        break
    else:
        while codigo not in codigos:
            print("[Este código não corresponde a nenhum alimento.]")
            codigo = int(input("Digite o código do alimento: "))

        indice = codigos.index(codigo)
        quantidade = int(input("Digite a quantidade: "))
        valor_pedido = precos[indice] * quantidade
        pedido.append(valor_pedido)
    n_pedido += 1

pedido_nota = 0
print("\n" * 2)
for i in range(n_pedido - 1):
    print("O Pedido", pedido_nota + 1, "= R$%.2f" % pedido[pedido_nota])
    pedido_nota += 1
print("E o total é : R$%.2f" % sum(pedido))

In [ ]:
#9
dia = int(input("digite o dia Ex: 'DD' :"))
mes = int(input("digite o mês Ex: 'MM' :"))
ano = int(input("digite o ano Ex: 'AAAA' :"))


def extenso_mes(mes):
	lista_de_mes = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
	mes_ex = lista_de_mes[mes-1]
	return mes_ex

def extenso_dia(dia):

	lista_de_dia = ["Um", "Dois", "Três", "Quatro", "Cinco", "Seis", "Sete", "Oito", "Nove", "Dez", "Onze", "Doze", "Treze", "Catorzer", "Quinze", "Dezesseis", "Dezessete", "Dezoito", "Dezenove", "Vinte", "Vinte e Um", "Vinte e Dois", "Vinte e Três", "Vinte e Quatro", "Vinte e Cinco", "Vinte e Seis", "Vinte e Sete", "Vinte e Oito", "Vinte e Nove", "Trinta", "Trinta e Um"]
	dia_ex = lista_de_dia[dia-1]
	return dia_ex


print("O valor por extenso é: " + extenso_dia(dia) + " de " + extenso_mes(mes) + " de %i "%ano)

digite o dia Ex: 'DD' :21
digite o mês Ex: 'MM' :05
digite o ano Ex: 'AAAA' :1997
O valor por extenso é: Vinte e Um de Maio de 1997

In [ ]:
#10
from random import shuffle

def embaralha(nome):
    palavra = list(nome)
    shuffle(palavra)
    palavra = ''.join(palavra)
    print(palavra.upper())


nome = input('Digite algo: ')
embaralha(nome)

Digite algo: palavra
RAVAALP